apiVersion: apps/v1
kind: Deployment
metadata:
  name: details
  labels:
    app: details
    version: v1
spec:
  replicas: 0
  selector:
    matchLabels:
      app: details
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
      labels:
        app: details
        version: v1
    spec:
      containers:
        - name: details
          image: quay.io/opsmxpublic/details:v2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9080
